@font-face 
{
    font-family: Montserrat;
    src: url(/fuente/Montserrat-VariableFont_wght.ttf);
}

body 
{ 
    font-family: 'Montserrat',sans-serif;
    margin: auto;
    width: clamp(390px, 100%, 1920px);
    background-color: #F6F6F6;
}

a{text-decoration: none; color:#519E47}

header
{   
    display: flex;
    justify-content: space-between ;
    background-color: #F6F6F6;
    align-items: center;
    padding-left: 9%; padding-right: 10%;
}

.volver {font-size: 19px;}

.logo img 
{
    height: 110px;padding-right: 30px;
}

/* =================================================================
    Navegación*/

.pegajoso 
{
    position: sticky; top: 0;
    z-index: 90;
    width: 100%;
    margin: auto;
    box-shadow: 1px 3px 10px #000000;
}
  
.pegajoso ul 
{
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1%;
}
  
.pegajoso ul li 
{   list-style: none; }

nav.pegajoso li a:hover
{   background-color: #E9EEDE; }


/* =================================================================
    Sección 1*/
  
.Seccion1
{
    display: flex;
    margin: auto;
    background: url(/imagenes/cmf.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 40%;
    background-size: cover;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
}

.Mini
{    width: 100%; }

#h1S1
{
    margin: auto;
    text-align: center;
    color: #FAF0D7;
    font-size: 90px;
    padding-left: 4%; padding-right: 4%;
}
#h3S1
{
    padding-left: 4%; padding-right: 4%;
    text-align: center;
    color: #FAF0D7;
    font-size: 30px;
    font-weight: light;
}

.areadecomentarios
{
    background-color: white;
    background-image: linear-gradient(white, #f6f6f6);
    width:60%; 
    padding-left: 2%; padding-right: 2%;
    margin: 0 auto; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.NombreT
{
    width: 90%;
    align-items: center;
    font-size: 22px;
    padding: 1.5%;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 1px 1px 3px #969696;
    font-family: inherit;
}

.comentariot
{
    width: 90%;
    align-items: center;
    font-size: 22px;
    padding: 1.5%;
    padding-bottom: 7%;
    border-radius: 15px;
    border-width: 0;
    box-shadow: 1px 1px 3px #969696;
    font-family: inherit;
}

.btnenviar
{
    margin-top:5%;
    padding-top: 1%; padding-bottom: 1%; padding-left: 3%; padding-right: 3%;
    font-family: inherit;
    font-size: 22px;
}













#minibarra
{
    padding-left: 8%;
    padding-top: .5%;
    padding-bottom:.5%;
    margin-top: 6%;
    margin-bottom: 0;
    background-color: #F6F6F6;
    width: 92%;
}

#minibarra img
{
    width: 5%;
}

.contenedorfinal
{
    display: flex;
}

#Ultimaseccion
{   
    padding-left: 6%;
    justify-content: flex-start;
    background-color: #132403;
    width: 70%;
    padding-top: 1%; 
    padding-bottom: 1%;
    display:  flex;
}

#Ultimaseccion ul 
{
    justify-content: space-between;
    width: 60%;
    display: flex;
    list-style: none;
}

#Ultimaseccion a 
{
    color: white;
    text-decoration: none;
}

#redimensionar
{
    justify-content: flex-start;
    background-color: #132403;
    align-items: center;
    width: 30%;
    padding-right: 6%;
    display:  flex;
}

#redimensionar img 
{
    width: 50%;
    height: auto;
}

#redimensionar ul
{
    display: flex;
    list-style: none;
    width: 100%;
}

#redimensionar li
{
    padding-right: 5%; padding-left:5%
}


.contenedorfinal2
{
    border-top: 1px solid white;
    padding-top: 2%;padding-bottom: 1%; padding-left: 15%; padding-right: 15%;
    display: block;
    background-color: #132403;
}